@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/easy-ui")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color:#393D49">
    <style>
        .box-shadow-1 {
            -webkit-box-shadow: 3px 3px 10px;
            -moz-box-shadow: 3px 3px 10px;
            box-shadow: 3px 3px 10px;
        }

        .box-pull-right {
            position: absolute;
            top: 83%;
            right: 10px;
        }
         .row-tip {
            position: absolute;
            left: -50px;
            top:0;
            height:100%;
            width:40px;
            margin-top:4px;
             margin-bottom:4px;
            border-right:solid 2px #428bca;
        }
    </style>
    <div class="container">
        <h1 style="font-weight:bold;color:aliceblue">数据资料<small> 2013</small></h1>
        <div style="position:relative">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 breadcrumb box-shadow-1" style="height:200px;border:solid 10px #393D49;">
                    <h2>民营经济增加值</h2>
                    <table class="table table-striped ">
                        <tr>
                            <td>民营经济增加值</td>
                            <td>3457.8</td>
                        </tr>
                        <tr>
                            <td>生产总值比重</td>
                            <td>43.2%</td>
                        </tr>
                        <tr></tr>
                    </table>
                    <p class="pull-right box-pull-right"><a class="btn btn-primary btn-sm" target="_blank" href="/Data/Increase?year=2013">详情进入 &raquo;</a></p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 breadcrumb box-shadow-1" style="height:200px;border:solid 10px #393D49">
                    <h2>固定资产投资</h2>
                    <table class="table table-striped ">
                        <tr>
                            <td>固定资产投资额</td>
                            <td>3458.5</td>
                        </tr>
                        <tr>
                            <td>比上年同期增长</td>
                            <td>33.8%</td>
                        </tr>
                    </table>
                    <p class="pull-right box-pull-right"><a class="btn btn-primary btn-sm" href="/Data/InvestmentInFixedAssets?year=2013" target="_blank">详情进入 &raquo;</a></p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 breadcrumb box-shadow-1" style="height:200px;border:solid 10px #393D49">
                    <h2>从业人员</h2>
                    <table class="table table-striped ">
                        <tr>
                            <td>人数（人）</td>
                            <td>1732250</td>
                        </tr>
                        <tr>
                            <td>比上年同期增长</td>
                            <td>13.2%</td>
                        </tr>
                    </table>
                    <p class="pull-right box-pull-right"><a class="btn btn-primary btn-sm" href="/Data/BasicSituation?year=2013" target="_blank">详情进入 &raquo;</a></p>
                </div>

            </div>
          
            <div class="row-tip" style="height:100%;width:40px;">
                <h1 style="color:white" >主<br>要<br>指<br>标</h1>
            </div>
        </div>

        <div style="position:relative">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 breadcrumb box-shadow-1" style="height:200px;border:solid 10px #393D49;">
                    <h2>第一产业</h2>
                    <table class="table table-striped ">
                        <tr>
                            <td>民营经济增加值</td>
                            <td>518.7</td>
                        </tr>
                        <tr>
                            <td>生产总值比重</td>
                            <td>50.4</td>
                        </tr>
                        <tr></tr>
                    </table>
                    <p class="pull-right box-pull-right"><a class="btn btn-primary btn-sm" target="_blank" href="/Data/Increase?year=2013">详情进入 &raquo;</a></p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 breadcrumb box-shadow-1" style="height:200px;border:solid 10px #393D49">
                    <h2>第二产业</h2>
                    <table class="table table-striped ">
                        <tr>
                            <td>民营经济增加值</td>
                            <td>1485.8</td>
                        </tr>
                        <tr>
                            <td>生产总值比重</td>
                            <td>45.8%</td>
                        </tr>
                    </table>
                    <p class="pull-right box-pull-right"><a class="btn btn-primary btn-sm" href="/Data/Increase?year=2013" target="_blank">详情进入 &raquo;</a></p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 breadcrumb box-shadow-1" style="height:200px;border:solid 10px #393D49">
                    <h2>第三产业</h2>
                    <table class="table table-striped ">
                        <tr>
                            <td>民营经济增加值</td>
                            <td>1453.2</td>
                        </tr>
                        <tr>
                            <td>生产总值比重</td>
                            <td>38.9</td>
                        </tr>
                    </table>
                    <p class="pull-right box-pull-right"><a class="btn btn-primary btn-sm" href="/Data/Increase?year=2013" target="_blank">详情进入 &raquo;</a></p>
                </div>

            </div>

            <div class="row-tip" style="height:100%;width:40px;">
                <h1 style="color:white">产<br>业<br>分<br>类</h1>
            </div>
        </div>

        <div style="position:relative">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 breadcrumb box-shadow-1" style="height:200px;border:solid 10px #393D49;">
                    <h2>批发企业</h2>
                    <table class="table table-striped ">
                        <tr>
                            <td>企业个数(个)</td>
                            <td>551</td>
                        </tr>
                        <tr>
                            <td>固定资产原价</td>
                            <td>210032</td>
                        </tr>
                        <tr></tr>
                    </table>
                    <p class="pull-right box-pull-right"><a class="btn btn-primary btn-sm" target="_blank" href="/Data/WholesaleBusiness?year=2013">详情进入 &raquo;</a></p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 breadcrumb box-shadow-1" style="height:200px;border:solid 10px #393D49">
                    <h2>零售业</h2>
                    <table class="table table-striped ">
                        <tr>
                            <td>企业个数(个)</td>
                            <td>1092</td>
                        </tr>
                        <tr>
                            <td>固定资产原价</td>
                            <td>719765</td>
                        </tr>
                    </table>
                    <p class="pull-right box-pull-right"><a class="btn btn-primary btn-sm" href="/Data/RetailBusiness?year=2013" target="_blank">详情进入 &raquo;</a></p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 breadcrumb box-shadow-1" style="height:200px;border:solid 10px #393D49">
                    <h2>建筑业</h2>
                    <table class="table table-striped ">
                        <tr>
                            <td>企业个数(个)</td>
                            <td>485</td>
                        </tr>
                        <tr>
                            <td>建筑业总产值（亿元）</td>
                            <td>273.47</td>
                        </tr>
                        <tr>
                            <td>从业人员平均人数(人)</td>
                            <td>122834</td>
                        </tr>
                    </table>
                    <p class="pull-right box-pull-right"><a class="btn btn-primary btn-sm" href="/Data/BuildingIndustry?year=2013" target="_blank">详情进入 &raquo;</a></p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 breadcrumb box-shadow-1" style="height:200px;border:solid 10px #393D49">
                    <h2>餐饮业</h2>
                    <table class="table table-striped ">
                        <tr>
                            <td>企业个数(个)</td>
                            <td>290</td>
                        </tr>
                        <tr>
                            <td>固定资产原价</td>
                            <td>121172</td>
                        </tr>
                    </table>
                    <p class="pull-right box-pull-right"><a class="btn btn-primary btn-sm" href="/Data/CateringIndustry?year=2013" target="_blank">详情进入 &raquo;</a></p>
                </div>

            </div>

            <div class="row-tip" style="height:100%;width:40px;">
                <h1 style="color:white">行<br>业<br>类<br>型<br>分<br>类</h1>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/easy-ui")
    @*@RenderSection("scripts", required: false)*@
</body>
</html>