<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/easy-ui")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="easyui-layout" data-options="fit:true,border:false">
    @*<div data-options="region:'north',split:true" style="height:40px;">
        <div class="row" style="margin:auto">
            <div class="col-sm-3" style="height:38px"></div>
            <div class="col-sm-3" style="height:38px"></div>
            <div class="col-sm-1" style="height:38px"></div>
            <div class="col-sm-5" style="height:38px">
                <ul style="margin-top:10px;">
                    <li style="list-style:none;float:right;padding-right:20px">
                        <a id="mb" class="easyui-menubutton" data-options="menu:'#mm'" style="text-decoration:underline;color:#333;font-size:14px" href="#">Adminisrator</a>
                        <div id="mm" style="width:150px;">
                            <div data-options="iconCls:'icon-edit_add'">账号设置</div>
                            <div data-options="iconCls:'icon-back'">退出</div>
                        </div>

                    </li>
                    <li style="list-style:none;float:right;padding-right:20px"><a style="text-decoration:underline;color:#333;font-size:14px" href="#">设置<i style="font-size:8px;top:2px" class="glyphicon glyphicon-chevron-down"></i></a></li>
                    <li style="list-style:none;float:right;padding-right:20px"><a style="text-decoration:underline;color:#333;font-size:14px" href="#">消息</a></li>
                    <li style="list-style:none;float:right;padding-right:20px"><a style="text-decoration:underline;color:#333;font-size:14px" href="#">首页</a></li>
                </ul>
            </div>
        </div>
    </div>*@

    <div data-options="region:'south'" style="height:10px;"></div>
    @*<div data-options="region:'east',iconCls:'icon-reload',title:'East',split:true" style="width:100px;"></div>*@
    <div data-options="region:'west',title:'菜单栏',split:true" style="width:180px;">
        <div class="easyui-accordion" data-options="fit:true,border:false" @*style="width:172px;height:99%;"*@>
            
            <div title="民营概况介绍" data-options="iconCls:'icon-clist'">
                <div class="list-group">
                    <a  class="list-group-item easyui-tooltip" url="/Summary/Index?year=2012" href="#">2012年概况<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Summary/Index?year=2013" href="#">2013年概况<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Summary/Index?year=2014" href="#">2014年概况<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip"url="/Summary/Index?year=2015" href="#">2015年概况<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Summary/Index?year=2016" href="#">2016年概况<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                </div>
            </div>

            <div title="数据资料" data-options="iconCls:'icon-clist'">
                <div class="list-group">
                    <a class="list-group-item easyui-tooltip" url="/Data/Increase" href="#">民营经济增加值<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Data/BasicSituation" href="#">营经济基本单位情况<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Data/IRSIncome" href="#">民营经济国税收入<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Data/InvestmentInFixedAssets" href="#">固定资产投资<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Data/IndustrialSubSectorsIndicators" href="#">工业分行业主要指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>

                    <a class="list-group-item easyui-tooltip" url="/Data/IndustrialIndicators" href="#">工业主要指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Data/WholesaleBusiness" href="#">批发企业主要经济指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Data/RetailBusiness" href="#">零售企业主要经济指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Data/AccommodationIndustry" href="#">住宿业主要经济指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Data/CateringIndustry" href="#">餐饮业主要经济指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" url="/Data/BuildingIndustry" href="#">筑企业主要经济指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>

                </div>
            </div>


            <div title="数据查询" data-options="iconCls:'icon-clist'" @*style="overflow:auto;padding:10px;"*@>
                <div class="list-group">
                    <a  id="user-manager" class="mtooltip1 list-group-item easyui-tooltip" url="/NonPublicIndustry/Index" href="#">工业主要指标<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="mtooltip2 list-group-item easyui-tooltip" url="/IndustryClassification/Index"  href="#">工业分行业指标<span style="font-size:1px;color:red;text-overflow:clip">1</span><span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="mtooltip3 list-group-item easyui-tooltip"url="/IndustryClassifcationT/Index" href="#">工业分行业指标<span style="font-size:1px;color:red;text-overflow:clip">2</span><span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" href="#">工业增加值<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" href="#">重点企业<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                    <a class="list-group-item easyui-tooltip" href="#">重点项目<span class="glyphicon glyphicon-th-list pull-right"></span></a>
                </div>
            </div>

            <div title="报表分析" data-options="iconCls:'icon-cstats'," @*style="padding:10px;"*@>
                <div class="list-group">
                    <a class="list-group-item" url="/IndustryClassification/ViewChart" href="#">民营经济总量<span class="glyphicon glyphicon-stats pull-right"></span></a>
                    <a class="list-group-item" url="/IndustryClassification/ViewChartRed" href="#">工业增加值分行业<span class="glyphicon glyphicon-stats pull-right"></span></a>
                    <a class="list-group-item" url="/Student/Index" href="#">工业增加值分地区<span class="glyphicon glyphicon-stats pull-right"></span></a>
                    <a class="list-group-item" url="/StudentSign/Index" href="#">营经济固定资产<span class="glyphicon glyphicon-stats pull-right"></span></a>
                    <a class="list-group-item" url="/Student/Index" href="#">重点企业工业生产总值<span class="glyphicon glyphicon-stats pull-right"></span></a>
                </div>
            </div>

            <div title="数据录入" data-options="iconCls:'icon-cupload'" @*style="padding:10px;"*@>
                <div class="list-group">
                    <a class="list-group-item" url="/NonPublicIndustryUpload/Index" href="#">工业主要指标[上传]<span class="glyphicon glyphicon-upload pull-right"></span></a>
                    <a class="list-group-item" url="/IndustryClassificationUpload/Index" href="#">工业分行业指标[上传]<span class="glyphicon glyphicon-upload pull-right"></span></a>
                </div>
            </div>
           
        </div>
    </div>

    <div data-options="region:'center'" style="padding:5px;background:#eee;">
        <div id="tabs" class="easyui-tabs" data-options="fit:true,border:false" style="width:100%;height:99%;">
            <div title="首页" style="padding:20px;display:none;">
                @RenderBody()
            </div>
        </div>

    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/easy-ui")
    @*@RenderSection("scripts", required: false)*@
    <script src="~/Scripts/CustomJS/common.js"></script>
    <script>
        $('.mtooltip1').tooltip({
              position: 'right',
              content: '<span style="color:#fff">民营经济规模以上工业主要指标</span>',
             onShow: function ()
             {
                 debugger;
                 $(this).tooltip('tip').css({ backgroundColor: '#333', borderColor: '#666' });
             }
        });
        $('.mtooltip2').tooltip({
            position: 'right',
            content: '<span style="color:#fff">民营经济规模以工业分行业指标【2015.2以上】</span>',
            onShow: function () {
                debugger;
                $(this).tooltip('tip').css({ backgroundColor: '#333', borderColor: '#666' });
            }
        });
        $('.mtooltip3').tooltip({
            position: 'right',
            content: '<span style="color:#fff">民营经济规模以工业分行业指标【2013.7-2014.12】</span>',
            onShow: function () {
                debugger;
                $(this).tooltip('tip').css({ backgroundColor: '#333', borderColor: '#666' });
            }
        });

    </script>
</body>

</html>
